@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap);
:root {
  --secondary-font-family: Comfortaa, cursive;
  --bs-body-font-family: "Open Sans", sans-serif;

  --bs-cyan: #3ac6a4;
  --color-cyan-50: #B3EBD0;
  --color-cyan-100: #f3f9ff;
  --color-cyan-200: #f1f4f3;
  --color-cyan-250: #F3FFF9;
  --color-cyan-300: #e3f5ef;
  --color-cyan-400: #E7FBF0;
  --color-cyan-500: #e0f6e4;

  --color-green-100: #eef9f0;

  --color-yellow-00: #EEEBD3;
  --color-yellow-100: #fcfbf3;
  --color-yellow-200: #F5F3E6;
  --color-yellow-300: #F9F7E7;

  --color-pink-100: #fff8f3;
  --color-pink-200: #f9efe9;

  --bs-primary-rgb: 26, 101, 203;
  --bs-primary: #1a65cb;
  --bs-primary-hover: #1a65cb;

  --bs-secondary-rgb: 255, 74, 100;
  --bs-secondary: #ff4a64;
  --bs-secondary-hover: #f2425b;

  --bs-body-color: #717171;
  --body-color-2: #a1a1a1;

  --bs-body-font-size: 18px;
  --logo-width: 109px;
  --main-heading-font: calc(5vw + 4px);
  --title-1-font: 26px;
  --subtitle-1-font: 20px;
  --subtitle-2-font: 18px;
  --bs-body-font: 18px;
  --bs-body-line-height: 1.273;
  --lead-font: 18px;
  --footer-menu-font: 18px;
  --footer-logo-width: 138px;
}

@media (min-width: 992px) {
  :root {
    --logo-width: 196px;
    --main-heading-font: calc(5vw + 4px);
    --title-1-font: 84px;
    --subtitle-1-font: 50px;
    --subtitle-2-font: 36px;
    --bs-body-font: 22px;
    --bs-body-line-height: 1.273;
    --lead-font: 32px;
    --footer-menu-font: 28px;
    --footer-logo-width: 242px;
  }
}

ul {
  margin-bottom: 0;
}

.title,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font-family);
  color: var(--bs-primary);
  font-weight: 700;
}

p, .p {
  font-size: var(--bs-body-font);
  line-height: 2;
}

section {
  position: relative;
}

.bg-blue{
  background-color: var(--bs-primary);
}

.main-heading,
.display-1 {
  font-size: var(--main-heading-font);
  line-height: 1.15;
}

.title,
.title-1 {
  font-size: var(--title-1-font);
  line-height: 1.191;
}

.subtitle,
.subtitle-1 {
  font-size: var(--subtitle-1-font);
  line-height: 1.2;
}

.subtitle-2 {
  font-size: var(--subtitle-2-font);
  line-height: 1.1;
}

.lead, .lead-1 {
  color: #a1a1a1;
  font-size: var(--lead-font);
  line-height: 1.5;
  font-weight: 400;
}

.lead-2 {
  font-size: var(--bs-body-font);
  line-height: calc(2em + 2px);
  font-weight: 600;
}

/* .responsive-img {
  position: relative;
  padding-top: 100%;
}

.responsive-img img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
} */

.btn {
  font-size: 24px;
  font-weight: 400;
  padding: 0.844rem 1.75rem;
}

.btn.rounded-pill {
  padding: 0.844rem 2.5rem;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  box-shadow: 0px 4px 20px rgba(var(--bs-secondary-rgb), 0.38);
}

.btn-secondary:hover,
.btn-check:active + .btn-secondary,
.btn-check:checked + .btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle,
.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  background-color: var(--bs-secondary-hover);
  border-color: var(--bs-secondary-hover);
  box-shadow: 0px 4px 20px rgba(var(--bs-secondary-rgb), 0.5);
}

.btn-outline-secondary {
  border-color: var(--bs-secondary-hover);
  color: var(--bs-secondary);
}

.btn-outline-secondary:hover,
.btn-check:active + .btn-outline-secondary,
.btn-check:checked + .btn-outline-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show,
.btn-outline-secondary:active {
  background-color: var(--bs-secondary-hover);
  border-color: var(--bs-secondary-hover);
  color: var(--bs-white);
  /* box-shadow: 0px 4px 20px rgba(var(--bs-secondary-rgb), 0.5); */
}

.btn-check:focus + .btn-outline-secondary,
.btn-outline-secondary:focus {
  box-shadow: 0px 4px 20px rgba(var(--bs-secondary-rgb), 0.5);
}

.text-cyan {
  color: var(--bs-cyan);
}

.text-blue {
  color: var(--bs-primary);
}

.bg-cyan {
  background-color: var(--color-cyan-100);
}

.bg-cyan-200 {
  background-color: var(--color-cyan-200);
}

.bg-cyan-dark {
  background-color: var(--color-cyan-300);
}

.bg-green-100 {
  background-color: var(--color-green-100);
}

.bg-yellow-100 {
  background-color: var(--color-yellow-100);
}

.bg-pink-100 {
  background-color: var(--color-pink-100);
}

.min-h-100vh {
  min-height: 100vh;
}

/* .snap-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  max-height: 100vh;
} */
.snap-align-start {
  scroll-snap-align: start;
}
.snap-align-end {
  scroll-snap-align: end;
}

.spacing-x {
  padding-left: 10vw;
  padding-right: 10vw;
}
.spacing-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.spacing-y-1 {
  padding-top: 5vmax;
  padding-bottom: 5vmax;
}
.spacing-y-2 {
  padding-top: 7.5vmax;
  padding-bottom: 7.5vmax;
}
.spacing-y-3 {
  padding-top: 10vmax;
  padding-bottom: 10vmax;
}


.accordion-wrapper{
  overflow: auto;
  max-height: 300px;
}

@media (min-width: 768px) {
  .btn {
    font-size: 24px;
  }
  .snap-align-md-end {
    scroll-snap-align: end;
  }
  .spacing-y-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .spacing-y-md-1 {
    padding-top: 5vmax;
    padding-bottom: 5vmax;
  }
  .spacing-y-md-2 {
    padding-top: 7.5vmax;
    padding-bottom: 7.5vmax;
  }
  .spacing-y-md-3 {
    padding-top: 10vmax;
    padding-bottom: 10vmax;
  }
}

@media (min-width: 992px) {
  .spacing-y-lg-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .spacing-y-lg-1 {
    padding-top: 5vmax;
    padding-bottom: 5vmax;
  }
  .spacing-y-lg-2 {
    padding-top: 7.5vmax;
    padding-bottom: 7.5vmax;
  }
  .spacing-y-lg-3 {
    padding-top: 10vmax;
    padding-bottom: 10vmax;
  }
  .navbar-expand-lg .nav-barnd-wrapper {
    display: none;
  }

  .main-navbar:not(.navbar-expand-lg) .navbar-brand.nav-link {
    display: none;
  }

  .spacing-start {
    padding-left: 10vw;
  }
}

@media (min-width: 1600px) {
  .container,
  .container-5lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1580px;
  }
}


/* -------------------------------- Scrollbar ------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dcecdf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AAE2B4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aae2b4b9;
}

/* bubbles */
.bubble-wrapper {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.bubble {
  position: absolute;
  --bubble-size: 100px;
  height: var(--bubble-size);
  width: var(--bubble-size);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

/* navbar */
.main-navbar {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;

  .dropdown-menu{
    background-color: var(--color-yellow-200);

    .dropdown-item{
      padding-inline: 2rem;
      font-size: 26px;
    }
  }
}

.logo-image {
  max-width: var(--logo-width);
}

.main-navbar:not(.navbar-expand-lg) .offcanvas-body {
  padding-inline: 2em;
}

.main-navbar .nav-link {
  color: var(--bs-cyan);
  font-size: 30px;
}

.main-navbar:not(.navbar-expand-lg) .offcanvas.show {
  background-color: var(--color-cyan-500);
}

@media (min-width: 992px) {
  .main-navbar.navbar-expand-lg .offcanvas-body {
    margin-inline: auto;
  }
  .main-navbar.navbar-expand-lg .navbar-nav {
    align-items: center;
  }
  .main-navbar.navbar-expand-lg .nav-item {
    margin-inline: 2em;
  }
  .main-navbar.navbar-expand-lg .logo-image {
    max-width: 140px;
  }
}

/* banner */

.main-banner {
  background-color: #f3fcf9;
}

.main-heading lottie-player {
  display: inline-block;
  vertical-align: middle;
  width: 16vw;
  height: 16vw;
}

.main-banner .main-heading {
  padding-top: 10%;
}

.line-bar {
  background-color: var(--bs-secondary);
  width: 1px;
  height: 60px;
  margin: -3vw auto 40px;
}

.vision-mission-value .img-icon {
  background-color: #fff;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  padding: 15px;
}

.bubble-banner-xl-1 {
  --bubble-size: 231px;
  top: 20.9%;
  left: 6%;
}

.bubble-banner-xl-2 {
  --bubble-size: 254px;
  top: 31.5%;
  left: 53%;
}

.bubble-banner-sm-1 {
  --bubble-size: 80px;
  top: 19%;
  left: 80%;
}

.bubble-banner-sm-2 {
  --bubble-size: 71px;
  top: 51.5%;
  left: 33%;
}

.bubble-banner-sm-3 {
  --bubble-size: 49px;
  top: 75%;
  left: 68%;
}

.bubble-banner-lg-1 {
  --bubble-size: 168px;
  top: 67%;
  left: 17%;
}

.bubble-banner-lg-2 {
  --bubble-size: 172px;
  top: 52.5%;
  left: 75%;
}

@media (min-width: 992px) {
  .vision-mission-value .img-icon {
    height: 138px;
    width: 138px;
    padding: 35px;
  }
}

/* product */
.product {
  position: relative;
}

.product-details-row {
  max-width: 100%;
  overflow-x: auto;
}

.product-count-wrapper {
  margin-left: auto;
}

.line-dot {
  position: relative;
  width: 100px;
  overflow: hidden;
  margin-right: -12px;
}

.line-dot::before,
.line-dot::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.line-dot::after {
  border-radius: 20px;
  width: 1px;
  background-image: repeating-linear-gradient(
    transparent,
    transparent 7px,
    var(--bs-primary) 7px,
    var(--bs-primary) 15px
  );
  transform: rotate(90deg);
  height: 100px;
}

.product-count .title-1 {
  font-size: 51px;
}

.tiny-num {
  white-space: nowrap;
  font-size: 24px;
  position: relative;
}

.lp-card {
  width: 103px;
  height: 84px;
}

/* product bubble */

.bubble-p-card {
  --bubble-size: 290px;
}

.bubble-p-lg-1 {
  --bubble-size: 264px;
  left: 80%;
  top: -15%;
}

.bubble-p-sm-1 {
  --bubble-size: 156px;
  left: 43%;
  top: 75%;
}

.bubble-pme-1 {
  --bubble-size: 156px;
  top: 70%;
  left: 30%;
}

.bubble-pme-2 {
  --bubble-size: 198px;
  top: 70%;
  left: 82.5%;
}

.bubble-covid-1 {
  --bubble-size: 156px;
  top: 79%;
  left: 55%;
}

@media (min-width: 992px) {
  .lp-card {
    width: 16.67vw;
    height: 13.55vw;
  }

  .product-count-wrapper {
    width: 105px;
    position: relative;
    margin-left: unset;
  }
  .product-count {
    position: absolute;
    transform: translateY(-50%);
    white-space: nowrap;
    top: 40%;
  }
  .tiny-num {
    font-size: 40px;
  }
  .line-dot {
    width: 32px;
    margin-right: 0;
  }
  .line-dot::before {
    border: 5px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--bs-primary);
    outline: 1px solid var(--bs-primary);
    top: calc(40% - 9px);
    z-index: 3;
  }
  .line-dot::after {
    background-image: repeating-linear-gradient(
      transparent,
      transparent 15px,
      var(--bs-primary) 15px,
      var(--bs-primary) 30px
    );
    transform: rotate(0deg);
  }
  .line-dot.start::after {
    bottom: 0;
    top: 40%;
    box-shadow: 0px 0px 0px 9px #f6f3d6;
    background-color: #f6f3d6;
    height: auto;
  }

  .line-dot.center::after {
    bottom: 0;
    top: 0;
    box-shadow: 0px 0px 0px 9px #e2efeb;
    background-color: #e2efeb;
    height: auto;
  }
  .line-dot.end::after {
    bottom: 60%;
    top: 0;
    box-shadow: 0px 0px 0px 9px #f2e8e2;
    background-color: #f2e8e2;
    height: auto;
  }
}

/* testimonial section */
.testimonial-section {
  position: relative;
  padding-top: 60px;
}

.testimonial-section::before {
  content: "";
  position: absolute;
  background-color: var(--color-pink-200);
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 280px;
}

.testimonial-slide {
  border-radius: 79px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 34px 65px 0;
  box-shadow: 0px 3px 86px #00000029;
}

.testimonial-footer {
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 55px;
  padding-top: 50px;
}

/* get in touch */
.get-in-touch-section .white-wrapper {
  background-color: var(--bs-white);
  box-shadow: 0px 3px 18px #3d713f14;
  border-radius: 27px;
  padding: 60px;
}

.bg-get-in-touch-wrapper {
  background-image: url(../img/get-in-touch-small.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

/* blog details */
.aside-bg-wrapper {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 27px #11361d12;
  border-radius: 44px;
}

/* provide my experience */
.product-features-list :nth-child(even) {
  flex-direction: row-reverse;
}

/* our process */
.our-process .nav-link {
  background-color: var(--color-yellow-300);
  border-radius: 20px;
  padding: 10.5% 10.5% 7.5%;
  margin-bottom: 25px;
  cursor: pointer;
}

.our-process .nav-link.active {
  background-color: var(--color-cyan-300);
}

.process-stage-list .media img {
  --img-size: 165px;
  width: var(--img-size);
  height: var(--img-size);
  border: 1px solid #707070;
}

/* footer */
.footer-logo {
  max-width: var(--footer-logo-width);
}

.footer-menu a {
  text-decoration: none;
  font-size: var(--footer-menu-font);
  line-height: 2.5;
  color: inherit;
}

.footer-bottom {
  background-color: #c8d9e9;
  color: #10386e;
  padding: 1.7% 0;
}

.footer-bottom a {
  color: inherit;
  text-decoration: none;
}

.footer-menu .social-menu {
  margin-inline: -10px;
} 

.footer-menu .social-icon {
  display: inline-block;
  line-height: 1;
  padding-inline: 10px;
} 

/* ------------------------------ EC-Card Page ------------------------------ */
#ec-card.snap-wrapper {
  .main-banner{
    height: 100vh;

    .main-heading{
      padding-top: 13rem;
      color: var(--bs-cyan);
    }
  }
  .app-section{
    background: var(--bs-yellow-00);

    .counting{
      display: flex;
      align-items: center;
      .circle{
        border-radius: 50%;
        background: var(--color-yellow-00);
        padding: 1.8rem 2.4rem;
        vertical-align: middle;
        color: var(--bs-primary);
        font-weight: bold;
        font-size: 1.6875rem;
      }

      .circle.active{
        color: #fff;
        font-size: 3.875rem;
        background: var(--bs-primary);
        padding: 0.2rem 1.7rem;
      }
      .dashed{
        font-size: 2rem;
        color: var(--bs-primary);
        letter-spacing: 5px;
        vertical-align: middle;
      }
    }
  }
  .business-section{
    background: var(--color-cyan-250);
    .cards{

      .img-box{
        img{
          width: 23rem;
        }
      }
      .slider span{
        background: var(--color-cyan-50);
        margin-inline: 1px;
        width: 6rem;
        height: 6px;
        display: inline-block;

        &.active{
          background: var(--bs-primary);
        }
      }
    }

  }

  .why-section{
    background: var(--color-green-100);

    .accordion{
      height: 20rem;
      overflow-y: auto;

      .accordion-item{
        background: none;
        border-inline: none;
        
        .accordion-button{
          background: none;
          color: #333;
          border: none;
          font-size: 22px;
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.contact-section{
  background: #FFFEF5;

  .contact-form{
    border-radius: 1.5rem;
    padding: 4rem 3rem;
    box-shadow: 0px 28px 79px #31080817;

    input, select, textarea{
      padding: 1rem 2rem;
      font-size: 20px;
      background: #F3F3EB;
      border-radius: 20px;
      margin-left: 1rem;
      width: 90%;
    }
    label{
      margin-left: 1rem;
    }

    button.btn{
      margin-top: 2rem;
    }
  }
}

/* ----------------------------- Contact Us Page ---------------------------- */
#contact-us{
  background: var(--color-green-100);
  background-image: url('./assets/img/Header image -Cotact Us-01.svg');

  .contact-section{
    background-color: transparent;

    .contact-form{
      label{font-size: 22px;}
    }
  }
}