@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap);

:root {
  --secondary-font-family: Comfortaa, cursive;
  --bs-body-font-family: "Open Sans", sans-serif;
  --bs-cyan: #3ac6a4;
  --color-cyan-50: #B3EBD0;
  --color-cyan-100: #f3f9ff;
  --color-cyan-200: #f1f4f3;
  --color-cyan-250: #F3FFF9;
  --color-cyan-300: #e3f5ef;
  --color-cyan-400: #E7FBF0;
  --color-cyan-500: #e0f6e4;
  --color-green-100: #F4FBF5;
  --color-green-200: #eef9f0;
  --color-yellow-00: #EEEBD3;
  --color-yellow-100: #fcfbf3;
  --color-yellow-200: #F5F3E6;
  --color-yellow-300: #F9F7E7;
  --color-pink-100: #fff8f3;
  --color-pink-200: #f9efe9;
  --bs-primary-rgb: 26, 101, 203;
  --bs-primary: #1a65cb;
  --bs-primary-hover: #1a65cb;
  --bs-secondary-rgb: 255, 74, 100;
  --bs-secondary: #ff4a64;
  --bs-secondary-hover: #f2425b;
  --bs-body-color: #717171;
  --body-color-2: #a1a1a1;
  --bs-body-font-size: 18px;
  --logo-width: 109px;
  --main-heading-font: calc(5vw + 4px);
  --title-1-font: 26px;
  --subtitle-1-font: 20px;
  --subtitle-2-font: 18px;
  --bs-body-font: 18px;
  --bs-body-line-height: 1.273;
  --lead-font: 18px;
  --footer-menu-font: 14px;
  --footer-logo-width: 138px;
}




ul {
  margin-bottom: 0;
}

.title,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font-family);
  color: var(--bs-primary);
  font-weight: 700;
}

p, .p {
  font-size: var(--bs-body-font);
  line-height: 1.5;
}

section {
  position: relative;
}

.bg-blue {
  background-color: var(--bs-primary);
}

.font-600 {
  font-weight: 600 !important;
}

.main-heading,
.display-1 {
  font-size: var(--main-heading-font);
  line-height: 1.15;
}

.title,
.title-1 {
  font-size: var(--title-1-font);
  line-height: 1.191;
}

.subtitle,
.subtitle-1 {
  font-size: var(--subtitle-1-font);
  line-height: 1.2;
}

.subtitle-2 {
  font-size: var(--subtitle-2-font);
  line-height: 1.1;
}

.lead, .lead-1 {
  color: #a1a1a1;
  font-size: var(--lead-font);
  line-height: 1.5;
  font-weight: 400;
}

.lead-2 {
  font-size: var(--bs-body-font);
  line-height: calc(2em + 2px);
  font-weight: 600;
}

.font-14 {
  font-size: 14px;
}

/* .responsive-img {
  position: relative;
  padding-top: 100%;
}

.responsive-img img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
} */
.btn {
  font-size: 24px;
  font-weight: 400;
  padding: 0.844rem 1.75rem;
}

.btn i, .btn .main-txt{
  transition: all .2s ease;
  
}
.btn .main-txt{
  display: inline-block;
}
.btn:hover .main-txt{
  transform: translateX(-10px);
}
.btn:hover i{
  transform: translateX(10px);
}

.btn.rounded-pill {
  padding: 0.844rem 2.5rem;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  box-shadow: 0px 4px 20px rgba(var(--bs-secondary-rgb), 0.38);
}

.btn-secondary:hover,
.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show>.btn-secondary.dropdown-toggle,
.btn-check:focus+.btn-secondary,
.btn-secondary:focus {
  background-color: var(--bs-secondary-hover);
  border-color: var(--bs-secondary-hover);
  box-shadow: 0px 4px 20px rgba(var(--bs-secondary-rgb), 0.5);
}

.btn-outline-secondary {
  border-color: var(--bs-secondary-hover);
  color: var(--bs-secondary);
}

.btn-outline-secondary:hover,
.btn-check:active+.btn-outline-secondary,
.btn-check:checked+.btn-outline-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show,
.btn-outline-secondary:active {
  background-color: var(--bs-secondary-hover);
  border-color: var(--bs-secondary-hover);
  color: var(--bs-white);
  /* box-shadow: 0px 4px 20px rgba(var(--bs-secondary-rgb), 0.5); */
}

.btn-check:focus+.btn-outline-secondary,
.btn-outline-secondary:focus {
  box-shadow: 0px 4px 20px rgba(var(--bs-secondary-rgb), 0.5);
}

.text-cyan {
  color: var(--bs-cyan)!important;
}

.text-grey{
  color: #717171;
}

.text-blue {
  color: var(--bs-primary)!important;
}

.bg-cyan {
  background-color: var(--color-cyan-100);
}

.bg-cyan-200 {
  background-color: var(--color-cyan-200);
}

.bg-cyan-250 {
  background-color: var(--color-cyan-250);
}

.bg-cyan-dark {
  background-color: var(--color-cyan-300);
}

.bg-green-100 {
  background-color: var(--color-green-100);
}

.bg-green-200 {
  background-color: var(--color-green-200);
}

.bg-yellow-100 {
  background-color: var(--color-yellow-100);
}

.bg-pink-100 {
  background-color: var(--color-pink-100);
}

.min-h-100vh {
  min-height: 100vh;
}

/* .snap-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  max-height: 100vh;
} */
.snap-align-start {
  scroll-snap-align: start;
}

.snap-align-end {
  scroll-snap-align: end;
}

.spacing-x {
  padding-left: 10vw;
  padding-right: 10vw;
}

.spacing-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.spacing-y-1 {
  padding-top: 5vmax;
  padding-bottom: 5vmax;
}

.spacing-y-2 {
  padding-top: 7.5vmax;
  padding-bottom: 7.5vmax;
}

.spacing-y-3 {
  padding-top: 10vmax;
  padding-bottom: 10vmax;
}

.accordion-wrapper {
  overflow: auto;
  max-height: 300px;
}


/* -------------------------------- Scrollbar ------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dcecdf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AAE2B4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aae2b4b9;
}

/* bubbles */
.bubble-wrapper {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.green-bubble .bubble{
  background-color: rgba(40, 148, 112, 0.07);
}

.bubble {
  position: absolute;
  --bubble-size: 100px;
  height: var(--bubble-size);
  width: var(--bubble-size);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

/* navbar */
.main-navbar {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
}
.main-navbar .dropdown-menu{
  background-color: transparent;
  border: none;
  padding-top: 15px;
  margin-top: 0.125rem;

}

.main-navbar .dropdown-menu-list::before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid #f5f3e6;
  bottom: 100%;
  left: 7px;
}

.main-navbar .dropdown-menu-list {
  background-color: var(--color-yellow-200);
  padding:15px 0;
  border-radius: 0;
  box-shadow: 0 0 5px rgb(240, 240, 240);
  top: calc(100% + 15px);
  position: relative;
}

.main-navbar .dropdown-menu .dropdown-item:focus,.main-navbar .dropdown-menu .dropdown-item:hover{
  color: var(--bs-primary);
  background-color: transparent;
  font-weight: 600;
}

.main-navbar .dropdown-menu .dropdown-item {
  padding-inline: 2rem;
  /* font-size: 26px; */
  font-size: 18px;

}

.second-font {
  font-family: var(--secondary-font-family);
}

.logo-image {
  max-width: var(--logo-width);
}

.main-navbar:not(.navbar-expand-lg) .offcanvas-body {
  padding-inline: 2em;
}

.main-navbar .nav-link {
  color: var(--bs-cyan);
  font-size: 30px;
  font-family: var(--secondary-font-family);
}

.main-navbar .dropdown:hover .dropdown-menu {
  display: block;
}

.partnership-with-txt {
  letter-spacing: 10.43px;
  font-size: 22px;
}

.stand-for-txt {
  line-height: 1.5;
}

.lead-left-info-txt {
  color: #6a6a6a;
}

.product-right-wrapper .subtitle-2 {
  letter-spacing: -2px;
}

.product-right-wrapper .txt-info {
  color: rgb(106 106 106 / 71%);
  font-size: 14px;
  line-height: 1.4;
  padding-bottom: 50px;
}

.product-count-wrapper .product-count .big-txt {
  font-size: 70px;
}

.product-details-item {
  padding-right: 4%;
}

.main-navbar:not(.navbar-expand-lg) .offcanvas.show {
  background-color: var(--color-cyan-500);
}

.product-list-wrapper>li:nth-child(odd) .bubble {
  background-color: rgb(253 225 0 / 15%);
}

.product-list-wrapper>li:nth-child(even) {
  background-color: yellow;
}



/* banner */
.main-banner {
  background-color: #f3fcf9;
}

.main-heading lottie-player {
  display: inline-block;
  vertical-align: middle;
  width: 16vw;
  height: 16vw;
}

.main-banner .main-heading {
  padding-top: 10%;
}

.line-bar {
  background-color: var(--bs-secondary);
  width: 1px;
  height: 60px;
  margin: -3vw auto 40px;
}

.vision-mission-value .img-icon {
  background-color: #fff;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  padding: 15px;
}

.bubble-banner-xl-1 {
  --bubble-size: 231px;
  top: 20.9%;
  left: 6%;
}

.bubble-banner-xl-2 {
  --bubble-size: 254px;
  top: 31.5%;
  left: 53%;
}

.bubble-banner-sm-1 {
  --bubble-size: 80px;
  top: 19%;
  left: 80%;
}

.bubble-banner-sm-2 {
  --bubble-size: 71px;
  top: 51.5%;
  left: 33%;
}

.bubble-banner-sm-3 {
  --bubble-size: 49px;
  top: 75%;
  left: 68%;
}

.bubble-banner-lg-1 {
  --bubble-size: 168px;
  top: 67%;
  left: 17%;
}

.bubble-banner-lg-2 {
  --bubble-size: 172px;
  top: 52.5%;
  left: 75%;
}



/* product */
.product {
  position: relative;
}

.product-details-row {
  max-width: 100%;
  overflow-x: auto;
}

.product-count-wrapper {
  margin-left: auto;
}

.line-dot {
  position: relative;
  width: 100px;
  overflow: hidden;
  margin-right: -12px;
}

.line-dot::before,
.line-dot::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.line-dot::after {
  border-radius: 20px;
  width: 1px;
  background-image: repeating-linear-gradient(transparent, transparent 7px, var(--bs-primary) 7px, var(--bs-primary) 15px);
  transform: rotate(90deg);
  height: 100px;
}

.product-count .title-1 {
  font-size: 51px;
}

.tiny-num {
  white-space: nowrap;
  font-size: 24px;
  position: relative;
}

.lp-card {
  width: 103px;
  height: 84px;
}

/* product bubble */
.bubble-p-card {
  --bubble-size: 290px;
}

.bubble-p-lg-1 {
  --bubble-size: 264px;
  left: 80%;
  top: -15%;
}

.bubble-p-sm-1 {
  --bubble-size: 156px;
  left: 43%;
  top: 75%;
}

.bubble-pme-1 {
  --bubble-size: 156px;
  top: 70%;
  left: 30%;
}

.bubble-pme-2 {
  --bubble-size: 198px;
  top: 70%;
  left: 82.5%;
}

.bubble-covid-1 {
  --bubble-size: 156px;
  top: 79%;
  left: 55%;
}



/* testimonial section */
.testimonial-section {
  position: relative;
  padding-top: 60px;
}

.testimonial-section::before {
  content: "";
  position: absolute;
  background-color: var(--color-pink-200);
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 280px;
}

.testimonial-section {
  overflow: hidden;
}

.testimonial-slide {
  padding: 30px 10px;
}

.testimonial-slide .bg-white {
  border-radius: 79px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 25px 0;
  box-shadow: 0px 3px 10px 10px rgb(227 227 227 / 11%);
}

.testimonial-slider .slick-list {
  padding: 0 20% 0 20% !important;
}

.testimonial-slider .slick-slide.slick-active {
  transform: scale(1);
}

.testimonial-slider .slick-slide {
  transform: scale(.8);
}

.testimonial-slider .left-side-img img {
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 0 30px;
}

.testimonial-slider .testimonial-footer {
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 15px;
  padding-top: 5px;
}

.testimonial-slider .testimonial-head img {
  max-width: 150px;
}

.testimonial-footer p, .testimonial-footer strong {
  font-size: 14px;
}

.testimonial-content p {
  font-size: 16px;
}




/* about us */

.main-banner .main-heading {
  color: var(--bs-primary);
}

.who-we-are-wrapper .txt-info {
  color: #717171;
}

.our-process .nav-link {
  position: relative;
}

.our-process .nav-link.active::before {
  opacity: 1;
}



.about-us-main .sec-amazing-partners .bubble-banner-sm-1 {
  top: initial;
  bottom: 20%;
  left: 7%;

}

.about-us-main .sec-amazing-partners .bubble-banner-lg-2 {
  top: 10%;
  left: initial;
  right: 10%
}


.about-us-main .sec-amazing-partners .bubble {
  background-color: rgb(148 148 148 / 10%);
}

.about-us-main .our-process .lead-2 {
  font-size: 16px;
  font-weight: normal;
}

.process-stage-list .blank-img {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #a1a1a1;
}


.our-team .txt-info {
  font-size: 14px;
}

.height-100 {
  height: 100%;
}

.our-team-list-wrapper {
  max-height: 500px;
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.our-team-list-wrapper>.row {
  /* padding-bottom: 30px; */

}

.about-us-main .bg-get-in-touch-wrapper {
  background: none;
}

/* get in touch */
.get-in-touch-section .white-wrapper {
  background-color: var(--bs-white);
  box-shadow: 0px 3px 18px #3d713f14;
  border-radius: 27px;
  padding: 60px;
}

.get-in-touch-section label {
  color: #404040;
  font-size: 14px;
}

.form-own .form-group {
  min-height: 95px;
}

.form-own .form-control.error {
  border-color: #FF4A64;
}

.error-wrapper {
  font-size: 12px;
  color: #FF4A64;
  padding-top: 5px;
  font-weight: 600;
}

.form-own .form-control:focus {
  border-color: #2fa37c;
}

.form-own .form-control {
  background-color: #F1F4F3;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
  min-height: 40px;
}

.bg-get-in-touch-wrapper {
  background-image: url(../img/get-in-touch-small.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.select-wrapper {
  position: relative;
}

.select-wrapper:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #BBC4CF;
  right: 14px;
  top: 14px;
  pointer-events: none;
}

.get-in-touch-section .rounded-pill {
  min-height: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  padding: 5px 15px;
}

.read-more-wrapper.active {
  opacity: 1;
  z-index: 5555;
}

.read-more-wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  right: -1rem;
  bottom: 0;
  transition: all .2s ease;
  background: #f8f6e2;
  z-index: -5555;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
}

.read-more-wrapper .content-wrapper {
  position: relative;
  z-index: 4;
  background: #f8f6e2;
  height: 100%;
  width: 100%;
  padding: 50px 10vw;
  overflow-y: auto;
}

.read-more-wrapper .content-wrapper .paragraph-wrapper p {
  font-size: 14px;
  font-weight: 600;
}

.read-more-wrapper .cross-icon-wrapper {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  background-color: #1a65cb;
  display: inline-flex;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.read-more-wrapper::before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgb(0 0 0 / 40%);
  z-index: 1;
}

.read-more-wrapper .subtitle-1 {
  padding-bottom: 10px;
}

/* blog */

.blog-main-wrapper {
  background-color: #f3fcf9;
}

.blog-main-wrapper .blog-content .title {
  font-size: 55px;
  color: var(--bs-cyan);
}

.blog-main-wrapper .blog-content .blog-search-wrapper {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 20px;
  box-shadow: 0px 28px 79px #31080817;
}

.blog-main-wrapper .blog-content .blog-search-wrapper input {
  background: #F2FFF8 0% 0% no-repeat padding-box;
  border: 1px solid #EBEBEB;
  height: 40px;
}

.blog-main-wrapper .blog-content .blog-search-wrapper .btn {
  min-height: 40px;
  padding: 5px 15px;
  font-size: 15px;
  min-width: 125px;
}

.social-list-wrapper {
  padding-top: 10px;
  padding-bottom: 50px;
}

.social-list-wrapper>li:not(:last-child) {
  margin-right: 20px;
}

.blog-main-wrapper .bubble-banner-xl-1 {
  top: 28%;
  left: 4%;
  /* background-color: rgb(1 249 166 / 8%); */
  background-color: #E3F5EF;
}

.social-list-wrapper>li a i {
  font-size: 30px;
  color: var(--bs-cyan);
}

.blog-article-list-item .blog-user-name {
  display: inline-flex;
  justify-content: center;
  background-color: #1a65cb;
  color: #F3FFF9;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 5px;
}

.blog-article-list-item .blog-time {
  letter-spacing: 0px;
  color: #A8B8B0;
  display: inline-flex;
  font-size: 12px;
  margin-bottom: 12px;

}

.blog-article-list-item .btn {
  font-size: 14px;
}

.blog-list-footer li {
  padding-left: 5px;
  padding-right: 5px;
}

.blog-list-footer li a {
  background: #C9EFDA 0% 0% no-repeat padding-box;
  border: 1px solid #C8E5DB;
  border-radius: 12px !important;
  font-size: 11px;
  min-height: 40px;
  min-width: 40px;
  padding: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  color: #7AB595;

}

.blog-list-footer li.active a {
  background-color: #1a65cb;
  color: #F3FCF9;
}

/* blog details */
.aside-bg-wrapper {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 27px #11361d12;
  border-radius: 44px;
}
.flex-1{
  flex: 1;
}

.aside-bg-wrapper{
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  margin-bottom: 0;
}

.aside-bg-wrapper p{
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #004DB5;
  line-height: 1.5;
}
.aside-bg-wrapper .aside-img-wrapper img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 6px;
}

.aside-bg-wrapper .time-details{
  font-size: 9px;
  color: #b1b1b1;
  margin-bottom: 0;
}

.aside-item .blog-user-info{
max-width: 200px;
margin-left: auto;
margin-right: auto;
padding: 10px;
}

.aside-bg-wrapper .blog-user-info p{
  line-height: 2;
  color: #bbbbbb;

}

.aside-bg-wrapper .blog-user-info .user-name{
  padding-top: 20px;
  padding-bottom: 10px;
}

.aside-bg-wrapper .blog-user-info .social-wrapper a{
  color: var(--bs-cyan);
}
.aside-bg-wrapper .tag-list>li{
  display: inline-block;

}

.aside-bg-wrapper .tag-list a{
  display: inline-block;
  padding: 5px 10px;
  background-color: #f2f9f5;
  border-radius: 5px;
  margin-right: 8px;
  text-decoration: none;
  margin-bottom: 10px;
  color: #9d9d9d;
  font-size: 12px;
}

.aside-bg-wrapper .category-list>li{
border-bottom: 1px solid #ddd;
margin-bottom: 10px;
padding-bottom: 10px;
font-size: 13px;

}
.aside-bg-wrapper .category-list>li:last-child{
  border: none;
  margin-bottom: 0;
}

.blog-details-main-wrapper .search-input input{
  background: #F2FFF8 0% 0% no-repeat padding-box;
  border: 1px solid #EBEBEB;
  height: 40px;
}
.blog-details-main-wrapper .search-input{
  padding-bottom: 30px;
}
.blog-details-main-wrapper .search-input .btn{
  min-height: 40px;
  padding: 5px 15px;
  font-size: 15px;
  min-width: 50px;
  background-color: var(--bs-primary);
  border: none;
}

.blog-details-main-wrapper .breadcrumb-section{
  padding-top: 8%;
  padding-bottom: 20px;
}

.blog-details-main-wrapper .breadcrumb-section a,
.blog-details-main-wrapper .breadcrumb-section li,
.blog-details-main-wrapper .breadcrumb-item+.breadcrumb-item::before{
  color: var(--bs-cyan);
  text-decoration: none;
}

.blog-details-main-wrapper .blog-main-details .title-1{
  color: var(--bs-cyan);
  
}
.blog-details-main-wrapper .blog-main-details .blog-time{
  letter-spacing: 0px;
  color: #A8B8B0;
  display: inline-flex;
  font-size: 12px;
  margin-bottom: 12px;
}

.blog-writer-info{
  padding-top: 20px;
  padding-bottom: 35px;
}

.blog-writer-info .img-wrapper img{
  width: 65px;
  border-radius: 10px;
  margin-right: 10px;
}

.blog-writer-info .text-wrapper {
  color: #A8B8B0;
  font-size: 12px;
}

.blog-details-main-wrapper .artical-content .blockquote{
color: #7C7D7D;
font-style: italic;
background-color: #eefff3;
padding: 20px 10px;
}

.blog-details-main-wrapper .artical-body .btn{
  font-size: 14px;
}
.blog-details-main-wrapper .artical-body .btn-wrapper{
  padding-bottom: 5%;
  padding-top: 20px;
}
/* provide my experience */
.product-features-list li:nth-child(even) {
  flex-direction: row-reverse;
}

.product-features-list li:not(:last-child){
  padding-bottom: 10%;
}

.product-features-list li:nth-child(even) .product-features-img {
 padding-left: 50px;
}
.product-features-list li:nth-child(odd) .product-features-img {
  padding-right: 50px;
 }

 .product-features-content p{
   color: #717171;
   line-height: 1.9;
 }

 .provide-my-exp-wrapper .product-features-section .bubble-banner-sm-1{
  top: auto;
  bottom: 0;
 }
 .provide-my-exp-wrapper .product-features-section .title{
   display: inline-block;
 }
 .provide-my-exp-wrapper .product-features-section .title .bubble-wrapper{
  overflow: initial;
 }
 .provide-my-exp-wrapper .product-features-section .title .bubble-banner-md-2{
  right: -24%;
  bottom: 24%;
  height: 110px;
  width: 110px;
 }

 .provide-my-exp-wrapper .main-banner .bubble-banner-lg-2{
   top: auto;
   left: auto;
   bottom: 5%;
   right: 10%;
 }


/* our process */
.our-process .nav-link {
  background-color: var(--color-yellow-300);
  border-radius: 20px;
  padding: 10.5% 10.5% 7.5%;
  margin-bottom: 25px;
  cursor: pointer;
}

.our-process .nav-link.active {
  background-color: var(--color-cyan-300);
}

.process-stage-list .media img {
  --img-size: 165px;
  width: var(--img-size);
  height: var(--img-size);
  border: 1px solid #707070;
}

/* footer */
.footer-logo {
  max-width: var(--footer-logo-width);
}

.footer-menu a {
  text-decoration: none;
  font-size: var(--footer-menu-font);
  line-height: 2.5;
  color: inherit;
}

.footer-bottom {
  background-color: #c8d9e9;
  color: #10386e;
  padding: 1.7% 0;
}

.footer-bottom a {
  color: inherit;
  text-decoration: none;
}

.footer-menu .social-menu {
  margin-inline: -10px;
}

.footer-menu .social-icon {
  display: inline-block;
  line-height: 1;
  padding-inline: 10px;
}

.subscribe-input{
  border: 1px solid #8796F5;
padding: 1px;
}

.subscribe-input input{
  border: none;
  border-radius: 0;
}

.subscribe-input .custum-footer-btn{
  background: #E1ECF6 0% 0% no-repeat padding-box;
  color: var(--bs-primary);
  /* border: 1px solid var(--bs-primary); */
}


/* ------------------------------ EC-Card Page ------------------------------ */
#ec-card .app-section.second img:nth-child(2),
#ec-card .app-section.third img:nth-child(3),
#ec-card .app-section.fourth img:nth-child(4),
#ec-card .app-section img:first-child{
  display: inline-block;
}

#ec-card .app-section .counting-list li.active{
  display: block;
}

#ec-card .app-section img,
#ec-card .app-section.second img:first-child,
#ec-card .app-section.third img:first-child,
#ec-card .app-section.fourth img:first-child,
#ec-card .app-section .counting-list li{
  display: none;
}
#ec-card.snap-wrapper .main-banner {
  min-height: 100vh;
  padding-bottom: 20px;

}

#ec-card.snap-wrapper .main-banner .main-heading {
  padding-top: 10vw;
  color: var(--bs-cyan);
  font-size: 60px;
}
#ec-card.snap-wrapper .main-banner .subtitle-2 {
color: #717171;
line-height: 1.5;
font-size: 20px;
}



#ec-card.snap-wrapper .app-section {
  background: #fffef6;
}


#ec-card.snap-wrapper .app-section.second{
  background: #ecf5fe;

}
#ec-card.snap-wrapper .app-section.second .counting .circle{
  background-color:#d6e5f6 ;
}
/* #d6f3e4 */
#ec-card.snap-wrapper .app-section.third{
  background: #ebfdf4;

}
#ec-card.snap-wrapper .app-section.third .counting .circle{
  background-color:#d6f3e4 ;
}
#ec-card.snap-wrapper .app-section.fourth{
  background: #fffef6;

}
#ec-card.snap-wrapper .app-section .img-section img{
max-width: 15vw;
}

#ec-card.snap-wrapper .app-section .counting {
  display: flex;
  align-items: center;
}

#ec-card.snap-wrapper .app-section .counting{
  justify-content: space-between;
  position: relative;
}

#ec-card.snap-wrapper .app-section .counting .circle {
  border-radius: 50%;
  background: var(--color-yellow-00);
  padding: 10px;
  vertical-align: middle;
  color: var(--bs-primary);
  font-weight: bold;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-family: var(--secondary-font-family);
  position: relative;
  cursor: pointer;
}

#ec-card.snap-wrapper .app-section .counting:before{
  content: '';
  position: absolute;
  left: 1vw;
  right: 1vw;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 2px dashed var(--bs-primary);
}

#ec-card.snap-wrapper .app-section .counting .circle.active {
  color: #fff;
  font-size: 2rem;
  background: var(--bs-primary);
}

#ec-card.snap-wrapper .app-section .counting .dashed {
  font-size: 2rem;
  color: var(--bs-primary);
  letter-spacing: 5px;
  vertical-align: middle;
}

#ec-card.snap-wrapper .business-section {
  background: var(--color-cyan-250);
}

#ec-card.snap-wrapper .business-section .cards .img-box img {
  max-width: 150px;
}

#ec-card.snap-wrapper .business-section .cards .slider span {

  background: var(--color-cyan-50);
    margin-inline: 1px;
    width: calc(33.33% - 6px);
    height: 6px;
    display: inline-block;
}

#ec-card.snap-wrapper .business-section .info-txt{
  font-size: 13px;
}

#ec-card.snap-wrapper .business-section .cards .slider span.active {
  background: var(--bs-primary);
}

#ec-card.snap-wrapper .why-section {
  background: var(--color-green-200);
}


#ec-card.snap-wrapper .why-section .accordion .accordion-item {
  background: none;
  border-inline: none;
}

.contact-section {
  background: #FFFEF5;
}

.contact-section .contact-form {
  border-radius: 1.5rem;
  padding: 4rem 3rem;
  box-shadow: 0px 28px 79px #31080817;
}

.contact-section .contact-form input, .contact-section .contact-form select, .contact-section .contact-form textarea {
  padding: 1rem 2rem;
  font-size: 20px;
  background: #F3F3EB;
  border-radius: 20px;
  margin-left: 1rem;
  width: 90%;
}

.contact-section .contact-form label {
  margin-left: 1rem;
}

.contact-section .contact-form button.btn {
  margin-top: 2rem;
}

/* ----------------------------- Contact Us Page ---------------------------- */
#contact-us {
  background: var(--color-green-200);
  background-image: url("./assets/img/Header image -Cotact Us-01.svg");
}

#contact-us .contact-section {
  background-color: transparent;
}

#contact-us .contact-section .contact-form label {
  font-size: 22px;
}

.contact-us-wrapper{
  padding-top: 5%;
}

.contact-us-wrapper .title-1{
  font-size: 55px;
}

.contact-us-wrapper .contact-txt{
  color: #3B3B3B;
  font-size: 22px;
  line-height: 1.5;
  padding-top: 20px;
}

.contact-us-wrapper .subs-block {
  padding-top: 20%;
  padding-bottom: 4%;
}
.contact-us-wrapper .subs-block .label{
  color: var(--bs-primary);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}
.contact-us-wrapper .subs-block .subscribe-input{
  border-color: #e1ecf6;
  padding: 0;
}

.contact-us-wrapper .subs-block .subscribe-input .btn{
  background-color: #e1ecf6!important;
  margin: 0!important;
  border: none;
  border-radius: 0;


}

.book-demo-wrapper .submit-btn{
  margin-top: 27px;
}

.book-demo-wrapper .contact-txt{
  font-size: 20px;
  color: #7F8184;
}

.book-demo-wrapper{
  background-color: #fffef5;
}

.book-demo-wrapper.bg-green-100{
  background-color: var(--color-green-100);
}

.accordion-own .accordion-item{
  background-color: transparent;
  border:none
  
}

.accordion-own .accordion-item .accordion-button{
  background: none;
  color: #8c8c8c;
  border: none;
  font-size: 22px;
  outline: none;
  box-shadow: none;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  padding-right: 35px;
  border-top: 1px solid #d6d6d6;
  padding-left: 0;
  border-radius: 0;
}

.accordion-own .accordion-item .accordion-button::after{
  display: none;
}

.accordion-own .accordion-item .accordion-button .minus,
.accordion-own .accordion-item .accordion-button.collapsed .plus
{
  opacity: 1;
}

.accordion-own .accordion-item .accordion-button.collapsed .minus,
.accordion-own .accordion-item .accordion-button .plus{
  opacity: 0;
}

.accordion-own .accordion-item .accordion-button .minus,
.accordion-own .accordion-item .accordion-button .plus{
  font-size: 25px;
  position: absolute;
  top: 8px;
  right: 10px;
  color: #8c8c8c;
  pointer-events: none;
  transition: all .2s ease;

}

.accordion-own .accordion-item .accordion-body{
  font-size: 12px;
  color: #9e9e9e;
  padding-left: 0;
}

.accordion-own{
  max-height: 300px;
  overflow-y: auto;
}

.covid19-res-wrapper .main-banner {
  min-height: 100vh;
  padding-top: 10vw;
  padding-bottom: 30px;
}

.covid-19-projects .right-side-heading{
  max-width: 220px;
  font-family:var(--bs-body-font-family);
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}
.covid-19-projects .right-side-info{
  color: #7C7D7D;
  font-size: 15px;
  max-width: 350px;
  line-height: 1.7;
  padding-bottom: 5%;

}

.covid-19-projects .btn span{
  font-size:15px ;
}

.covid-19-projects .main-title{
  max-width: 260px;
}

/* provie my exp */

.benifits-list-wrapper{
  padding-left: 10vw;
  padding-top: 4vw;
}

.benifits-list{
  white-space: nowrap;
  overflow-x: auto;
  padding-right: 5vw;

}

.benifits-list>li{
  width: 30%;
  min-width: 30%;
  white-space: normal;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.benifits-list>li .img-wrapper{
  padding-bottom: 7%;
}

.benifits-list>li .img-wrapper img{
  width: 100px;
}

.benifits-list>li .progress-bar{
  max-width: 150px;
  height: 3px;
  position: relative;
  background-color: #C9ECDB;
  margin-bottom: 8%;
}

.benifits-list>li .progress-bar .filled-color{
  position: absolute;
  left: 0;
  width: 16.666%;
  top: 0;
  bottom: 0;
  background-color: #8DBDFF;
}

.benifits-list>li .content-wrapper{
  max-width: 300px;
}

.benifits-list>li .content-wrapper .text-heading{
  font-size: 16px;
  padding-bottom: 2%;
}

.benifits-list>li .content-wrapper .txt-info{
  font-size: 13px;
  color: #717171;
}

.provide-my-exp-wrapper .main-banner .main-heading{
  color: var(--bs-cyan);
}

.align-center-100vh{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.list-unstyled{
  margin-left: 0;
}



/* media queries */



@media (min-width: 768px) {
  .btn {
    font-size: 16px;
  }

  .snap-align-md-end {
    scroll-snap-align: end;
  }

  .spacing-y-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .spacing-y-md-1 {
    padding-top: 5vmax;
    padding-bottom: 5vmax;
  }

  .spacing-y-md-2 {
    padding-top: 7.5vmax;
    padding-bottom: 7.5vmax;
  }

  .spacing-y-md-3 {
    padding-top: 10vmax;
    padding-bottom: 10vmax;
  }
}

@media (min-width: 992px) {


  :root {
    --logo-width: 196px;
    --main-heading-font: 60px;
    --title-1-font: 45px;
    --subtitle-1-font: 35px;
    --subtitle-2-font: 25px;
    --bs-body-font: 16px;
    --bs-body-line-height: 1.273;
    --lead-font: 18px;
    --footer-menu-font: 18px;
    --footer-logo-width: 242px;
  }

  .mw-md{
    max-width: 400px;
  }

  .mw-sm{
    max-width: 300px;
  }

  .spacing-y-lg-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .spacing-y-lg-1 {
    padding-top: 5vmax;
    padding-bottom: 5vmax;
  }

  .spacing-y-lg-2 {
    padding-top: 7.5vmax;
    padding-bottom: 7.5vmax;
  }

  .spacing-y-lg-3 {
    padding-top: 10vmax;
    padding-bottom: 10vmax;
  }

  .navbar-expand-lg .nav-barnd-wrapper {
    display: none;
  }

  .main-navbar:not(.navbar-expand-lg) .navbar-brand.nav-link {
    display: none;
  }

  .spacing-start {
    padding-left: 10vw;
  }

  .main-navbar.navbar-expand-lg .offcanvas-body {
    margin-inline: auto;
  }

  .main-navbar.navbar-expand-lg .navbar-nav {
    align-items: center;
  }

  .main-navbar.navbar-expand-lg .nav-item {
    margin-inline: 2em;
  }

  .main-navbar.navbar-expand-lg .logo-image {
    max-width: 140px;
  }

  .vision-mission-value .img-icon {
    height: 100px;
    width: 100px;
    padding: 20px;
  }

  .lp-card {
    width: 16.67vw;
    height: 13.55vw;
  }

  .product-count-wrapper {
    width: 105px;
    position: relative;
    margin-left: unset;
  }

  .product-count {
    position: absolute;
    transform: translateY(-50%);
    white-space: nowrap;
    top: 40%;
  }

  .tiny-num {
    font-size: 40px;
  }

  .line-dot {
    width: 32px;
    margin-right: 0;
  }

  .line-dot::before {
    border: 5px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--bs-primary);
    outline: 1px solid var(--bs-primary);
    top: calc(40% - 9px);
    z-index: 3;
  }

  .line-dot::after {
    background-image: repeating-linear-gradient(transparent, transparent 15px, var(--bs-primary) 15px, var(--bs-primary) 30px);
    transform: rotate(0deg);
  }

  .line-dot.start::after {
    bottom: 0;
    top: 40%;
    box-shadow: 0px 0px 0px 9px #f6f3d6;
    background-color: #f6f3d6;
    height: auto;
  }

  .line-dot.center::after {
    bottom: 0;
    top: 0;
    box-shadow: 0px 0px 0px 9px #e2efeb;
    background-color: #e2efeb;
    height: auto;
  }

  .line-dot.end::after {
    bottom: 60%;
    top: 0;
    box-shadow: 0px 0px 0px 9px #f2e8e2;
    background-color: #f2e8e2;
    height: auto;
  }

  .our-process .nav-link:before {
    content: "";
    position: absolute;
    width: 50%;
    left: 100%;
    border-bottom: 1px dashed #2fa37c;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .3s ease;
  }

}



@media (min-width: 1600px) {

  .container,
  .container-5lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1580px;
  }
}



@media (max-width: 1199px) {
  .get-in-touch-section .white-wrapper{
    padding: 20px;
  }

}

@media (max-width: 767px) {
  .btn{
    font-size: 14px;
  }
  .get-in-touch-section .white-wrapper{
    padding: 20px;
  }

  .benifits-list>li{
    width: 40%;
    min-width: 40%;
  }

}

@media (max-width: 525px) {
  .get-in-touch-section .white-wrapper{
    padding: 20px;
  }

  .benifits-list>li{
    width: 75%;
    min-width: 75%;
  }

}